<p><%= collection.album_id %></p>
<p><%= collection.user_id %></p>
<p><%= collection.for_sale %></p>
<p><%= collection.to_buy %></p>
<p><%= collection.id %></p>

<%= form_for collection do |f| %>
	<div><%= f.label :for_sale %></div>
  <div><%= f.check_box :for_sale %></div>
  	<div><%= f.label :to_buy %></div>
  <div><%= f.check_box :to_buy %></div>
  <%= f.submit "change", class: "btn btn-primary" %>
<% end %>


