<tr>
  <td><%= link_to collection.album.title, collection.album %></td>
  <td><%= collection.album.artist %></td>
  <td><%= collection.album.year %></td>
  <td><%= collection.album.format %></td>
  <td><%= collection.album.label %></td>
  <td><%= collection.album.country %></td>
  <td><%= collection.album.release %></td>
  <td>
    <button class="btn btn-mini btn-block"><%= link_to 'Edit', edit_collection_path(collection) %></button>
    <%= collection.id %>
  	<%= form_for collection, url: collection_path do |f| %>
      <div><%= f.hidden_field :id %></div>
  		<div><%= f.check_box :to_buy %></div>
	</td>
	<td>
  		<div><%= f.check_box :for_sale %></div>
  		<div><%= f.submit 'update' %></div>
		<% end %>
	</td>
</tr>



