<div class="row">
	Receiver ID:
  <span class="content"><%= message.receiver_id %></span>
  Sender ID:
  <span class="content"><%= message.sender_id %></span>
  ŹLLLLLLEEEEEEEEEEEEEEEEEEEEEEEE<span class="content"><%= @sender.nick %></span>
  Content:
	<span class="content"><%= message.content %></span>
	<span class="timestamp">
	 message sent <%= time_ago_in_words(message.created_at) %> ago
	</span>
</div>