<h1>New Message</h1>
message to:<%= @message.receiver.nick %>
<%= form_for [current_user, @message] do |f| %>  

  <div class="field">
    <%= f.text_area :content, placeholder: "Message..." %>
  </div>
  <%= f.hidden_field :receiver_id %>
  
  <div class="actions">
    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>

