<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="span6 offset3">
      
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :nick %><br>
        <%= f.text_field :nick %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation" %><br>
        <%= f.password_field :password_confirmation %>
      </div>

      <%= f.file_field :profile_photo %>

      <div class="actions">
        <%= f.submit "Create account", class: "btn btn-info btn-small" %>
      </div>
    </div>
  </div>
<% end %>
