<h1>All Users:</h1>

<h3> There are <%= @users.count %> registered users. </h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nick</th>
      <th>Email</th>
      <th>Settings</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.nick %></td>
        <td><%= user.email %></td>
        <td>
          <button class="btn btn-mini btn-block"><%= link_to 'Show', user %></button>
          <button class="btn btn-mini btn-block"><%= link_to 'Edit', edit_user_path(user) %></button>
          <button class="btn btn-mini btn-block"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <button class="btn"><%= link_to 'Back to Admin Panel', admin_path %></button>
  <button class="btn"><%= link_to 'Add New User', new_user_path %></button>
<% end %>