<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span3">
    <h3><%= @user.nick %></h3>
    <%= image_tag @user.profile_photo.url(:avatar), :class => "img-polaroid" %>
  </div>
  <div class="span9">
    <h5> <%= @user.name %>, <%= @user.age %> </h5>
    <h5><%= @user.location %>, <%= @user.country %></h5>
    <p><%= @user.about %></p>
    <%= render 'shared/stats' %>
    <div style="margin-top: 10px;">
      <%= render 'follow_form' if signed_in? %>
      <% unless @user == current_user %>
        <button class="btn btn-large"><%= link_to 'Message', new_user_message_path(@user) %></button>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <h4>Record Collection</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 180px;">Title</th>
        <th style="width: 180px;">Artist</th>
        <th style="width: 60px;">Year</th>
        <th style="width: 60px;">Format</th>
        <th style="width: 180px;">Label</th>
        <th style="width: 60px;">Country</th>
        <th style="width: 60px;">Release</th>
        <th style="width: 60px;">Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
        <% if collection.buy == false and collection.sell == false %>
          <tr>
            <td><%= link_to collection.album.title, collection.album %></td>
            <td><%= collection.album.artist %></td>
            <td><%= collection.album.year %></td>
            <td><%= collection.album.format %></td>
            <td><%= collection.album.label %></td>
            <td><%= collection.album.country %></td>
            <td><%= collection.album.release %></td>
            <td>
              <button class="btn btn-mini btn-block"><%= link_to 'Change', edit_collection_path(collection) %></button>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <h4>For Sale:</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 180px;">Title</th>
        <th style="width: 180px;">Artist</th>
        <th style="width: 60px;">Year</th>
        <th style="width: 60px;">Format</th>
        <th style="width: 180px;">Label</th>
        <th style="width: 60px;">Country</th>
        <th style="width: 60px;">Release</th>
        <th style="width: 60px;">Edit</th>
        </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
        <% if collection.sell == true %>
          <tr>
            <td><%= link_to collection.album.title, collection.album %></td>
            <td><%= collection.album.artist %></td>
            <td><%= collection.album.year %></td>
            <td><%= collection.album.format %></td>
            <td><%= collection.album.label %></td>
            <td><%= collection.album.country %></td>
            <td><%= collection.album.release %></td>
            <td>
              <button class="btn btn-mini btn-block"><%= link_to 'Change', edit_collection_path(collection) %></button>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <h4> Wishlist</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 180px;">Title</th>
        <th style="width: 180px;">Artist</th>
        <th style="width: 60px;">Year</th>
        <th style="width: 60px;">Format</th>
        <th style="width: 180px;">Label</th>
        <th style="width: 60px;">Country</th>
        <th style="width: 60px;">Release</th>
        <th style="width: 60px;">Edit</th>
        </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
        <% if collection.buy == true %>
          <tr>
            <td><%= link_to collection.album.title, collection.album %></td>
            <td><%= collection.album.artist %></td>
            <td><%= collection.album.year %></td>
            <td><%= collection.album.format %></td>
            <td><%= collection.album.label %></td>
            <td><%= collection.album.country %></td>
            <td><%= collection.album.release %></td>
            <td>
              <button class="btn btn-mini btn-block"><%= link_to 'Change', edit_collection_path(collection) %></button>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <% if @user.posts.any? %>
    <h4> Posts (<%= @user.posts.count %>)</h4>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  <% end %>
</div>


