<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span3">
    <h3><%= @user.nick %></h3>
    <%= image_tag @user.profile_photo.url(:avatar), :class => "img-polaroid" %>
  </div>
  <div class="span9">
    <p><%= @user.location %>, <%= @user.name %>, <%= @user.country %>, <%= @user.about %>, <%= @user.age %></p>
    <%= render 'shared/stats' %>
    <div>
      <%= render 'follow_form' if signed_in? %>
      <% unless @user == current_user %>
        <button class="btn btn-large"><%= link_to 'Send Message', new_user_message_path(@user) %></button>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <% if @user.collections.any? %>
    <h4> Record Collection (<%= @user.collections.count %>)</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Year</th>
          <th>Format</th>
          <th>Label</th>
          <th>Country</th>
          <th>Release</th>
          <th>to buy</th>
          <th>for sale</th>
        </tr>
      </thead>
      <tbody>
        <%= render @collections %>
      </tbody>
    </table>
  <% end %>
</div>
<div class="row">
  <h4> Record Collection</h4>
  <% @collections.each do |collection| %>
    <% if collection.buy == false and collection.sell == false %>
      <%= collection.id %>
      <%= collection.album_id %>
      <%= collection.album.title %>
    <% end %>
  <% end %>
</div>
<div class="row">
  <h4> For Sale</h4>
  <% @collections.each do |collection| %>
    <% if collection.sell == true %>
      <%= collection.id %>
      <%= collection.album_id %>
      <%= collection.album.title %>
    <% end %>
  <% end %>
</div>
<div class="row">
  <h4> Wishlist</h4>
  <% @collections.each do |collection| %>
    <% if collection.buy == true %>
      <%= collection.id %>
      <%= collection.album_id %>
      <%= collection.album.title %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <% if @user.posts.any? %>
    <h4> Posts (<%= @user.posts.count %>)</h4>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  <% end %>
</div>


