<% provide(:title, 'Home') %>

<% if signed_in? %>

  <div class="row">
    <div class="span4">  
      <p><%= render 'shared/user_info' %>
      <%= render 'shared/stats' %></p>
      <%= render 'posts/form' %>
    </div>
    <div class="span8">
      <%= render 'shared/feed' %>
    </div>
  </div>

<%else %>
  
  <h3>Collect is an application for music-heads and people who are collecting records, if you want to share your albums library, join us!</h3>

  <div class="row">
  <%= image_tag '1.png', :alt => 'collection', :class => "img-rounded", :style => "width: 100%;"%>
  </div>

<% end %>