<%= form_for(@album) do |f| %>
    
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>

  <div class="field">
    <%= f.label :artist %><br>
    <%= f.text_field :artist, placeholder: "Artist" %>
  </div>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year, placeholder: "Year" %>
  </div>

  <div class="field">
    <%= f.label :format %><br>
    <%= f.text_field :format, placeholder: "Format" %>
  </div>

  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label, placeholder: "Label" %>
  </div>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country, placeholder: "Country" %>
  </div>

  <div class="field">
    <%= f.label :release %><br>
    <%= f.text_field :release, placeholder: "Release" %>
  </div>

  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details, placeholder: "Details" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>