<h1>Albums Database</h1>
<h3> There are <%= @albums.count %> albums in the database. </h3>
<% if signed_in? %>
<p>
  <%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :title_cont, "Title:" %>
    <%= f.text_field :title_cont %>
  </div>
  <div class="field">
    <%= f.label :artist_cont, "Artist:" %>
    <%= f.text_field :artist_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
or
  <span class="btn"><%= link_to 'Add new album', new_album_path %></span>
</p>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link @search, :title, "Title" %></th>
      <th><%= sort_link @search, :artist, "Artist" %></th>
      <th>Format</th>
      <% if signed_in? and current_user.admin? %>
        <th>Settings</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.artist %></td>
        <td><%= album.format %></td>
        <% if signed_in? and current_user.admin? %>
          <td>
            <button class="btn btn-mini btn-block"><%= link_to 'Show', album %></button>
            <button class="btn btn-mini btn-block"><%= link_to 'Edit', edit_album_path(album) %></button>
            <button class="btn btn-mini btn-block"><%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if signed_in? and current_user.admin? %>
  <button class="btn"><%= link_to 'Back to Admin Panel', admin_path %></button>
<% end %>