<h1>Albums</h1>
Search for albums or
<span class="btn"><%= link_to 'Add new album', new_album_path %></span>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>ARTIST</th>
      <th>Format</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.id %></td>
        <td><%= album.title %></td>
        <td><%= album.artist %></td>
        <td><%= album.format %></td>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>