<h1>Albums Database</h1>
<h3> There are <%= @albums.count %> albums in the database. </h3>

<% if signed_in? %>
  <div class="row">
    <div class="span6" style="text-align:center;">
      <h2> Search for album</h2>
      <%= search_form_for @search do |f| %>
        <div class="field">
          <%= f.label :title_cont, "Title:" %>
          <%= f.text_field :title_cont %>
          <%= f.label :artist_cont, "Artist:" %>
          <%= f.text_field :artist_cont %>
        </div>
        <%= f.submit "Search" %>
      <% end %>
    </div>
    <div class="span6" style="text-align:center;">
      <h2>or add new album</h2>
      <button class="btn"><%= link_to 'Add new album', new_album_path %></button>
    </div>
  </div>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link @search, :title, "Title" %></th>
      <th><%= sort_link @search, :artist, "Artist" %></th>
      <th>Year</th>
      <th>Format</th>
      <th>Label</th>
      <th>Country</th>
      <th>Release</th>
      <% if signed_in? %>
        <% if current_user.admin? %>
          <th>ID</th>
        <% end %>
        <th>Settings</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.artist %></td>
        <td><%= album.year %></td>
        <td><%= album.format %></td>
        <td><%= album.label %></td>
        <td><%= album.country %></td>
        <td><%= album.release %></td>
        <% if signed_in? and current_user.admin? %>
          <td><%= album.id %></td>
        <% end %>
        <% if signed_in? %>
          <td>
            <button class="btn btn-mini btn-block"><%= link_to 'Show', album %></button>
            <button class="btn btn-mini btn-block"><%= link_to 'Edit', edit_album_path(album) %></button>
            <% if current_user.admin? %>
              <button class="btn btn-mini btn-block"><%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %></button>
              <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if signed_in? and current_user.admin? %>
  <button class="btn"><%= link_to 'Go to Admin Panel', admin_path %></button>
<% end %>