<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Format:</strong>
  <%= @album.format %>
</p>

<p>
  <strong>Label:</strong>
  <%= @album.label %>
</p>

<p>
  <strong>Country:</strong>
  <%= @album.country %>
</p>

<p>
  <strong>Release:</strong>
  <%= @album.release %>
</p>

<p>
  <strong>Details:</strong>
  <%= @album.details %>
</p>

<%= render 'collection_form' %>


<span class="btn btn-info"><%= link_to 'Edit', edit_album_path(@album) %></span>
<span class="btn btn-info"><%= link_to 'Back', albums_path %></span>
