<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>format:</strong>
  <%= @album.format %>
</p>

<p>
  <strong>label:</strong>
  <%= @album.label %>
</p>

<p>
  <strong>Country:</strong>
  <%= @album.country %>
</p>

<%= render 'collection_form' %>



<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
