<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ReCollect", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <div class="btn-group">
            <li class="btn btn-small"><i class="icon-home"></i><%= link_to "Home", root_path %></li>
            <li class="btn btn-small"><i class="icon-list"></i><%= link_to 'Albums', albums_path %></li>
            <li class="btn btn-small"><i class="icon-search"></i><%= link_to 'Users', users_path %></li>
            <li class="btn btn-small"><i class="icon-info-sign"></i><%= link_to 'Help', help_path %></li>
            <% unless signed_in? %>
              <li class="btn btn-small btn-warning"><%= link_to "Sign in", signin_path %></li>
            <% end %>
          </div>
          <% if signed_in? %>
            <div class="btn-group">
              <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i> Account
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li><%= link_to "Messages", user_messages_path(current_user) %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <% if current_user.admin? %>
                  <li class="divider"></li>
                  <li><%= link_to "Admin", admin_path %></li>
                <%end %>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </div>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>